.holder_caption {
    font-family: var(--main-font);
    color: var(--primmaty-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;

}

.holder_item:not(:last-child) {
    margin-right: 30px;
}

.holder_all {
    fill: #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}