.logo {
    font-family: var(--secondary-font);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.heder_logo {
    margin-right: 93px;
}

.logo_special {
    color: var(--primmaty-text-color);
}

.logo_special--color {
    color: var(--title-text-color);
}